.search{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}
.box{
  margin-top: 50px;
}
.big{
  height: 300px;
  width: 100%;
  margin-top: 10px;
}
.medium{
  height: 250px;
  width: 100%;
  background-color: cadetblue;
}
.small{
  height: 50px;
  width: 100%;
  background-color: darkcyan;
  text-align: center;
}